code {
    background: #2db34a;
    border-radius: 6px;
    color: #fff;
    padding: 24px 15px;
    text-align: center;
  }
  header,
  section,
  aside,
  footer {
    margin: 10px 0;
    background-color: #2db34a;
  }
  section {
      width: 30%;
      display: flex;
      border-radius: 6px;
      justify-content: center;

  }
  footer, header {
    margin-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .container {
      display: flex;
      justify-content: space-between;
  }